# rename to .env and fill in the values for docker compose

### Keycloak ###
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_POSTGRES_USER=
KEYCLOAK_POSTGRES_PASSWORD=

### Services & DB ###
COMMAND_DB_USER=
COMMAND_DB_PASSWORD=
PROJECTION_DB_USER=
PROJECTION_DB_PASSWORD=